*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header{
  background-color: gray;
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown-menu{
  background-color: #09a5ffc2 !important;
}

.Header{
  padding: 20px;
}

#order-now{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: black;
  padding: 3px 10px;
  border-radius: 30px;
}
#order-now:hover{
  transform: scale(1.1);
  transition: all .2s ease;
  box-shadow: 2px 0 5px 2px rgb(66,66,66);
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vh;
}
.ItemListContainer{
  display: flex;
  margin-top: 1.25em;
}

.product-container{
  margin: auto;
  text-align: center;
}

.product-counter{
  display: flex;
  align-items: center;
  height: 30px;
  border: solid 1px black;
  border-radius: 5px;
}

.counter-button{
  padding: 0 10px;
  color: cornflowerblue;
  background-color: white;
  border: none;
}

.counter-p{
  margin: 0;
  padding: 0 30px;
}
